<#include "base.html">

<#macro page_title>About Pastie</#macro>

<#macro stylesheet>
<link href="/pastie/static/css/sticky-footer-navbar.css" rel="stylesheet">
</#macro>

<#macro content>
<div class="container-fluid">
<div class="jumbotron">
    <h1>Pastie</h1>
    <p>Text snippet sharing service.</p>
</div>
<p>Technologies used:</p>
<ul>
    <li><a href="http://getbootstrap.com/">Bootstrap</a></li>
    <li><a href="http://freemarker.org/">FreeMarker</a></li>
    <li><a href="https://github.com/tliron/jygments">Jygments</a></li>
    <li><a href="https://www.java.com/en/">Java 1.7</a></li>
    <li><a href="http://hibernate.org/">Hibernate</a></li>
    <li><a href="http://springframework.org/">Spring</a></li>
    <li><a href="http://wildfly.org/">WildFly 10</a></li>
</ul>
</div>
<footer class="footer">
	<div class="container text-center">
		<p class="text-muted"><a href="https://github.com/andreevskya/Pastie">Github Page</a></p>
	</div>
</footer>
</#macro>

<@display_page/>
