<#include "base.html">

<#macro page_title>Pastie - All</#macro>

<#macro content>
<#if page?has_content >
<h2>All pasties (page ${currentPage} from ${numPages})</h2>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Posted on</th>
            <th>Language</th>
            <th>Views</th>
            <th>Paste</th>
        </tr>
    </thead>
    <tbody>
        <#list page as paste>
        <tr>
            <td>${paste?counter}</td>
            <td><a href="/pastie/paste/${paste.id}">${(paste.name)!"Untitled paste"?html}</a></td>
            <td>${paste.creationDate?string["dd.MM.yyyy HH:mm:ss"]}</td>
            <td>${paste.lexer.getName()}</td>
            <td>${paste.numViews}</td>
            <td>${paste.paste[0..*42]?trim?html}...</td>
        </tr>
        </#list>
    </tbody>
</table>
<ul class="pagination">
<#list 1..numPages as p>
<#if p == currentPage>
    <li class="active"><a href="/pastie/all/${p}">${p}</a></li>
<#else>
    <li><a href="/pastie/all/${p}">${p}</a></li>
</#if>
</#list>
</ul>
<#else>
<h2>Nothing to see here yet.</h>
</#if>
</#macro>

<@display_page/>