<#include "base.html">
<#import "spring.ftl" as spring />
<#macro stylesheet>
<style type="text/css">
    body, html {
        height: 100%;
    }
    .paste-form {
        padding-right: 0px;
        height: 520px;
    }
    .header-bar {
        margin-bottom: 5px;
    }
</style>
</#macro>
<#macro content>
<div class="container-fluid">
    <div class="row">
        <form action="/pastie" method="POST" accept-charset="UTF-8">
            <div class="col-md-9 paste-form">
                <div  class="form-inline">
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <@spring.bind path="form.name" />
                        <input type="text" class="form-control" placeholder="Name of your paste (optional)" id="name" name="name" value="${spring.status.value!''}"/>
                    </div>
                    <div class="form-group">
                        <label for="syntax">Syntax:</label>
                        <@spring.bind path="form.syntax"/>
                        <select name="${spring.status.expression}" class="form-control">
                        <#list syntaxList>
                            <#items as value>
                            <option value="${value}"<@spring.checkSelected value/>>${value.getName()}</option>
                            </#items>
                        </#list>
                       </select>
                    </div>
                    <div class="form-group">
                        <label for="expiration">Expiration:</label>
                         <@spring.bind path="form.expiration" />
                        <select class="form-control" name="${spring.status.expression}">
                            <#list expirationList>
                            <#items as expiration>
                            <option value="${expiration}"<@spring.checkSelected expiration/>>${expiration.getName()}</option>
                            </#items>
                            </#list>
                        </select>
                    </div>
                    <div class="checkbox">
                        <@spring.bind path="form.privatePaste" />
                        <label><input type="checkbox" name="${spring.status.expression}" <#if spring.status.value == "true">checked="checked"</#if>/> Private</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Paste</button>
                </div>
                <@spring.bind path="form.paste" />
                <#if spring.status.error >
                <div class="alert alert-danger" style="margin-top: 10px">
                    Hey! This field is required!
                </div>
                </#if>
                <textarea class="form-control" style="height: 100%; margin-top: 5px" placeholder="Paste your code here" id="paste" name="paste">${spring.status.value!""}</textarea>
            </div>
        </form>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <#if latest?size gt 0>
                    Latest ${ latest?size } pasties
                    <#else>
                    Latest pasties
                    </#if>
                </div>
                <div class="panel-body">
                    <#if latest?size gt 0>
                    <#list latest as paste>
                    <div class="media">
                        <div class="media-body">
                            <h5 class="media-heading">
                                <a href="/pastie/paste/${paste.id}">${(paste.name)!"Untitled paste"?html}</a>
                                <small><i>Posted on ${paste.creationDate?string["dd.MM.yyyy HH:mm:ss"]}</i></small>
                            </h5>
                            <p><small><code>${paste.lexer.getName()}</code> Viewed: ${paste.numViews} times</small></p>
                        </div>
                    </div>
                    </#list>
                    <#else>
                    There are no new pasties.
                    </#if>
                </div>
            </div>
        </div>
    </div>
</div>
</#macro>
<@display_page/>
