<#include "base.html">

<#macro page_title>Pastie | ${ paste.name!'Untitled'?html } </#macro>
<#macro stylesheet>
<style type="text/css">
    body, html {
        height: 100%;
    }
    .header-bar {
        margin-bottom: 10px;
    }
</style>
</#macro>
<#macro content>
<div class="container-fluid">
	<div class="well well-sm"><strong>${(paste.name)!"Untitled paste"?html}</strong></div>
	
	<div class="row">
		<div class="col-md-12">
                    Posted on <mark>${paste.creationDate?string["dd.MM.yyyy HH:mm:ss"]}</mark> | <code>${paste.lexer.getName()}</code> | Viewed: ${paste.numViews} times | <a href="/pastie/raw/${paste.id}">raw</a>
		</div>
	</div>
	<textarea class="form-control" style="height: 540px;" readonly="true">${paste.paste?html}</textarea>	
</div>
</#macro>
<@display_page/>
